header {
  width: 100%;
  height: 10vh;
  display: flex;
  font-family: Inter, sans-serif;
  flex-direction: row;
  justify-content: center;
  box-shadow: rgb(130, 130, 130) 0px 10px 10px -12px;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.header-menu {
  display: flex;
  margin-right: 100px;
  gap: 30px;
}

.cart-shop{
margin-left: 350px;
margin-top: 0px;
}

.header-container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  font-family: Inter, sans-serif;
}
.main-cards {
  min-height: 50vh;
  width: 75%;
}

#products-list{
  display: flex;
  align-content:center ;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#products-list li{
  list-style: none;
  padding: 20px;
  margin: 2px;
}

.product-card{
  width: 250px;
  height: auto;
  border: 2px solid transparent;
  border-radius: 7px;
}

.product-card:hover{
  border: 2px solid #37268C;
}

.tag{
  background-color: #37268C;
  color: #ffffff;
  width: 100px;
  height: 20px;
  text-align: center;
  border-radius: 3px;
  padding-top: 7px;
  font-size: 16px;
}

.buttonsFilter{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#products-list img{
  width: 200px;
  height: 150px;
  margin: 20px 10px 20px 10px;
}

#products-list h2{
  font-weight: bold;
  margin-top: 10px;
  font-size: 24px;
  color: #333333;
}

#products-list p{
  margin: 0;
  margin-top: 15px;
  font-size: 16px;
}

#products-list span{
  display: block;
  margin-left: auto;
  font-weight: bold;
  font-size: 20px;
  color: #333333;
  margin-top: 15px;
}

#products-list button{
  background-color: #37268C;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 15px;
}

#products-list button:hover{
  background-color: #f5f5f5;
  color: #37268C;
  border: 1px solid #37268C;
}

.main-details {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 25%;
}
.main-search {
  display: flex;
  flex-direction: row;
  height: 20%;
}
.search-input {
  height: 40%;
  width: 70%;
  border: none;
  background-color: #f5f5f5;
}

.search-button {
  height: 40%;
  width: 30%;
  border: none;
  background-color: #2e245e;
  color: #ffffff;
}

.main-details aside {
  width: 100%;
  height: 80%;
}

.cart-title {
  background-color: #37268c;
  color: #ffffff;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-title h4 {
  font-size: 1.2rem;
}
.cart-empty {
  height: 400px;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-list{
  display: none;
  flex-direction: column;
  height: 400px;
  width: 100%;
  overflow-y: auto;
}

.cart-empty h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-details {
  height: 30%;
  width: 100%;
  background-color: #333333;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #ffffff;
}
.details-values {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imgProduct{
  width: 100px;
  height: 100px;
}

.cart-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid transparent;
  flex-wrap: wrap;
}

.cart-item:hover{
  border: 1px solid #37268C;
}

.cart-item .imgProduct{
  object-fit: cover;
  border-radius: 5px;
  width: 80px;
  background-color: #ffffff;
  margin: 5px;
}

.cart-item .title {
  font-size: 15px;
  margin: 10px 10px;
  white-space: nowrap; 
}

.price{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 30px;
  height: 30px;
  white-space: nowrap; 
}

.cart-item .price{
  font-size: 14px;
  color: #37268C;
  font-weight: bold;
  margin: 10px 10px;
}

.buttonRemove{
  background-color: #37268C;
  color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
}

